nav {
  font-family: Open Sans;
  display: flex;
  align-items: center;
  background-color: #e87b5dee;
  margin: 0 auto;
  flex-direction: row;
  height: 100px;
  color: black;
}
footer {
  background-color: #e87b5dee;
  font-family: Open Sans;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}
.navContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.homeFitTrax {
  display: flex;
  margin: 0 200px 0 0;
  padding: 0 100px 0 0;
}
.fitTrax {
  display: flex;
  justify-content: center;
}
.logo {
  height: 160px;
}
.gymShot,
.gymShotContainer {
  height: 325px;
  display: flex;
  justify-content: center;
  align-content: center;
}

section {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 400px;
}
.sectionPara {
  display: flex;
  flex-direction: column;
  font-family: Open Sans;
}
