nav {
  font-family: Open Sans;
  display: flex;
  align-items: center;
  background-color: rgba(227, 89, 51, 0.6);
  margin: 0 auto;
  flex-direction: row;
  height: 100px;
  color: white;
  left: 0;
  top: 0;
  right: 0;
}
a:hover {
  background-color: salmon;
}
footer {
  background-color: rgba(227, 89, 51, 0.6);
  font-family: Open Sans;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}
.navContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.homeFitTrax {
  display: flex;
  margin: 0 200px 0 0;
  padding: 0 100px 0 0;
}
.fitTrax {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Open Sans;
  padding: 15px;
  font-size: 40px;
}

.logo {
  height: 160px;
}
.gymShot {
  height: 350px;
  padding: 15px;
  justify-content: center;
  align-content: center;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px;
}

.gymShotContainer {
  height: 425px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #e87b5dee;
  margin: 0 300px;
  padding: 15px;
  border-radius: 20px;
}

section {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 30px 400px;
  height: 300px;
  padding: 20px;
  background-color: #e87b5dee;
  border-radius: 20px;
}
.traxsSection {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 30px 400px;
  height: 400px;

  border-radius: 20px;
}
.sectionPara {
  display: flex;
  flex-direction: column;
  font-family: Open Sans;
}
section.homeContain {
  width: 300px;
  padding: 20px;
}
@media (min-width: 375px) {
  .navContainer {
    width: auto;
    flex-wrap: wrap;
  }
  .logo {
    height: 100px;
  }
  h3 {
    width: auto;
    display: block;
    font-size: 13px;
  }
  nav {
    margin: 0 auto;
    width: auto;
  }
  section {
    margin: 0 auto;
  }
  .gymShotContainer {
    margin: 0 auto;
    height: 250px;
    width: 350px;
  }
  .gymShot {
    height: 220px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  section {
    margin: 0 auto;
  }
  nav {
    margin: 0 auto;
    width: 770px;
  }
  .logo {
    height: 150px;
    margin: -30px 0 0 0;
  }
  nav.navContainer {
    width: auto;
    display: flex;
    justify-content: space-evenly;
  }
  h3 {
    font-size: 20px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  nav.navContainer {
    width: auto;
    display: flex;
    justify-content: space-evenly;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  nav.navContainer {
    width: auto;
    display: flex;
    justify-content: space-evenly;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  nav.navContainer {
    width: auto;
    display: flex;
    justify-content: space-evenly;
  }
}
