.traxsHeader {
  display: flex;
  justify-content: center;
  font-family: Open Sans;
  padding: 20px;
}
.traxsForm {
  display: flex;
  justify-content: center;
  width: auto;
  padding: 20px;
}
.btnPrimary {
  background-color: rgb(242, 107, 107);
  border-radius: 20px;
  size: 10px;
  background-size: 10px;
}
li {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.videos {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}

@media (min-width: 375px) {
  .traxsForm .btnPrimary {
    margin: 0 auto;
    width: auto;
  }
  .traxsHeader {
    margin: 0 auto;
    width: auto;
  }
  ul {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  div.traxsSection {
    margin: 0 auto;
  }
  div.cont {
    height: 450px;
  }
}
@media (max-width: 700px) {
  .traxsForm .btnPrimary {
    margin: 0 auto;
    width: auto;
  }
  .traxsHeader {
    margin: 0 auto;
    width: auto;
  }
  ul {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  div.traxsSection {
    margin: 0 auto;
  }
  div.cont {
    height: 450px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  ul {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  div.traxsSection {
    margin: 0 auto;
    width: auto;
  }
  div.cont {
    height: 450px;
  }
  .traxsForm {
    margin: 0 auto;
    width: auto;
    padding: 0 auto;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  ul {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  div.traxsSection {
    margin: 0 auto;
  }
  div.cont {
    height: 450px;
  }
  .traxsForm {
    margin: 0 auto;
    width: 768px;
    padding: 0 auto;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .traxsForm {
    margin: 0 auto;
    width: 768px;
    padding: 0 auto;
  }
  div.traxsSection {
    margin: 0 auto;
  }
  .traxsHeader {
    margin: 0 auto;
    width: auto;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
