.traxsHeader {
  display: flex;
  justify-content: center;
  font-family: Open Sans;
  padding: 20px;
}
.traxsForm {
  display: flex;
  justify-content: center;
  margin: 0 350px;
  padding: 20px;
}
.btnPrimary {
  background-color: rgb(242, 107, 107);
  border-radius: 20px;
  size: 10px;
  background-size: 10px;
}
li {
  display: flex;
  justify-content: center;
  padding: 15px;
}
.videos {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}
